@import '../../styles/variables';
.banner {
    width:100%;
    height:300px;
    background: url("../../media/stockbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

  }
  .containerflex {
    display: flex;
    justify-content: center;
    align-items: center;
    .contentflex {
      flex: 0 0 300px;
      font-size: 30px;
      color: white;
      text-align:center;
    }
  }